@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;400;500;600;700;800&display=swap');
$morado : #883AE1;
$morado-pastel: #E6D6FC;
$gris-claro: #E5EAF0;
$crema: #FAFAF9;
$blanco: #FFFFFF;
$carbon: #20293A;
$gris-oscuro: #6C727F;

body {
    background-color: $crema;
    font-family: 'Sora';
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
}


.card {
    background-color: $blanco;
    width: 336px;
    padding: 16px;
    box-shadow: 10px 10px 50px $gris-claro;
    border-radius: 12px;

    img{
        max-width: 100%;
        border-radius: 4px;
    }

    .themeTag{
        background-color: $morado-pastel;
        padding: 6px 16px;
        font-size: 10px;
        display: inline-block;
        color: $morado;
        border-radius: 100px;
        h3{
            margin: 0;
            font-weight: 600;
        }
    }

    .cardTitle{
        font-size: 18px;
        margin-top: 16px;

    }

    .description{
        font-size: 14px;
        font-weight: 300;
        color: $gris-oscuro;
    }

    .autorContainer{
        margin: 20px 0px 20px 0px;
        border-top: 1px solid $gris-claro;
        h4{
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 0px;
            color: $gris-oscuro;
        }
    }
} 
